<a href="https://colab.research.google.com/github/PravallikaSomisetti/Sky-Brisk/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Theory**
**Lists:** *An ordered, mutable collection used to store multiple items in a single variable.*

**Tuples:** *An ordered, immutable collection used to store fixed data.*

**Dictionaries:** *A collection of key–value pairs used to store and retrieve data efficiently.*

**Sets:** *An unordered collection of unique elements used to remove duplicates.*

**Functions:** *Reusable blocks of code designed to perform a specific task.*

**Lambda Functions:** *Small anonymous functions written in a single line for short operations.*

**Recursion:** *A programming technique where a function calls itself to solve a problem.*

**List Comprehension:** *A concise way to create lists using expressions and conditions.*


# **1. Hands-On (Data Transformations) using lists, lambda, comprehension**
*Data Transformation means modifying data into a required format using operations or functions.*

In [7]:
# Real-world data: Student marks
marks = [45, 67, 89, 45, 90, 34, 67]

In [2]:
# Remove duplicates
unique_marks = list(set(marks))
print("Unique Marks:", unique_marks)

Unique Marks: [34, 67, 45, 89, 90]

In [3]:
# Square of marks using list comprehension
squared_marks = [m**2 for m in unique_marks]
print("Squared Marks:", squared_marks)

Squared Marks: [1156, 4489, 2025, 7921, 8100]

In [4]:
# Filter passed students (marks >= 40)
passed_students = list(filter(lambda x: x >= 40, unique_marks))
print("Passed Students Marks:", passed_students)

Passed Students Marks: [67, 45, 89, 90]

In [5]:
# Sum of squares
sum_of_squares = sum(squared_marks)
print("Sum of Squares:", sum_of_squares)

Sum of Squares: 23691

# **2. Functions, Lambda & Recursion**

In [8]:
# Function to calculate square
def square(n):
    return n * n
print("Square of 6:", square(6))

Square of 6: 36

In [13]:
# Function to calculate average
def calculate_average(data):
    return sum(data) / len(data)

scores = [78, 85, 90, 88]
print("Average Score:", calculate_average(scores))

Average Score: 85.25

In [9]:
# Lambda function to add two numbers
add = lambda a, b: a + b
print("Addition:", add(5, 3))

Addition: 8

In [14]:
# Lambda function to calculate discount
discount_price = lambda price: price - (price * 0.10)
print("Price after discount:", discount_price(1000))

Price after discount: 900.0

In [10]:
# Recursive function to find factorial
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)
print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [15]:
# Recursive function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print("Factorial of 6:", factorial(6))

Factorial of 6: 720

# **Client Project: Data Cleaning Script**
*Data Cleaning: The process of removing duplicates, filtering incorrect data, and improving data quality.*

**Problem:**

Remove duplicate values

Filter valid data

Clean dataset using Python data structures

In [12]:
# Real-world data: Sensor temperature readings (in °C)
temperature_readings = [25, 28, 30, -5, 28, 35, 40, 30, -3, 45]

print("Raw Temperature Data:", temperature_readings)

# Step 1: Remove duplicate values
unique_temperatures = list(set(temperature_readings))

# Step 2: Filter valid temperature values (0°C to 50°C)
valid_temperatures = [t for t in unique_temperatures if 0 <= t <= 50]

print("Cleaned Temperature Data:", valid_temperatures)

# Step 3: Calculate statistics
average_temp = sum(valid_temperatures) / len(valid_temperatures)
max_temp = max(valid_temperatures)
min_temp = min(valid_temperatures)

print("Average Temperature:", average_temp)
print("Maximum Temperature:", max_temp)
print("Minimum Temperature:", min_temp)

Raw Temperature Data: [25, 28, 30, -5, 28, 35, 40, 30, -3, 45]
Cleaned Temperature Data: [35, 40, 45, 25, 28, 30]
Average Temperature: 33.833333333333336
Maximum Temperature: 45
Minimum Temperature: 25

In Week 2, I learned Python data structures such as lists, tuples, dictionaries, and sets. I understood how to use functions, lambda expressions, recursion, and list comprehensions for efficient coding. I also implemented a data cleaning script to remove duplicates, filter valid data, and perform basic data analysis.